.container {
  display: flex;
  justify-content: center;
  margin-top: 5px;
}
p {
  padding-left: 10px;
  padding-right: 10px;
}
button {
  padding-left: 10px;
  padding-right: 10px;
}
.container span {
  margin-left: 10px;
  margin-right: 10px;
}
